*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px){
  html{
   font-size: 93.75%; // Converter O tamanho da font px 15
  }
}

@media (max-width: 720px){
 html{
   font-size: 87.5%; // Converter O tamanho da font px 14
 }
}

body {
  background: #f2f6fc;
}

body, input, textarea, select, button {
  font: 400 Irem sans-serif;
}

button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

